/* stylesheet */
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #333;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
nav,
div {
  /* border: 1px solid red; */
}
h1 {
  font-size: 24px;
  font-weight: 500;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h4 {
  margin: 0;
  font-weight: 500;
}
.btn {
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: transparent;
  border-radius: 12px;
  min-width: 70px;
  min-height: 42px;
  padding: 10px;
}

.blue {
  background-color: rgba(45, 156, 219, 0.7);
  color: #fff;
}
.green {
  background-color: rgba(39, 174, 96, 0.7);
  color: #fff;
}
.red {
  background-color: rgba(235, 87, 87, 0.7);
  color: #fff;
}
.grey {
  background-color: #e0e0e0;
  color: #828282;
}
.btn:focus {
  outline: none;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual {
  border-radius: 18px;
  overflow: hidden;
  margin: 10px 0;
}
.visual img {
  width: 100%;
  display: block;
}

.input-container {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  padding: 2px;
}
input {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  flex-grow: 1;
}

.logo {
  font-weight: 800;
  font-size: 24px;
}
nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav .logo {
  flex-grow: 1;
}

nav .collapse {
  list-style: none;
  background-color: #fff;
  width: 100%;
  display: none;
}
nav .collapse.show {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
nav .btn-toggle {
  display: block;
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  padding: 0px;
  min-width: 0;
  min-height: 0;
}
nav .collapse ul {
  margin: 20px;
}
nav ul li {
  margin: 30px 0;
}
nav ul li a {
  text-decoration: none;
  color: initial;
}

main {
  margin: 10px;
}

section {
  margin: 30px 0 100px;
}
.row {
  margin: 0 10%;
}

.top-section .title h1 {
  margin: 5px 0;
}
.top-section .title h4 {
  color: rgba(45, 156, 219, 0.7);
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.contact .info {
  color: #828282;
  font-size: 10px;
}

.service-section .content {
  font-size: 16px;
}
.service-box {
  margin: 40px 0;
  padding: 30px;
}
.service-box-gp .service-box:nth-child(2) {
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}
.finger-icon {
  display: none;
}

.showcase-box {
  margin: 30px 0;
}
.showcase-box .info {
  font-weight: 300;
  color: #828282;
}
.showcase-box .visual-title {
  font-weight: 500;
  font-size: 18px;
}
.btn-more {
  font-weight: 500;
  font-size: 18px;
  color: rgba(47, 128, 237, 0.7);
}

.team-section h3 {
  font-size: 18px;
  color: rgba(235, 87, 87, 0.7);
  font-weight: 500;
  margin: 10px 0;
}
.team-section h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  width: 80%;
}
.team-section .content {
  width: 80%;
  font-size: 16px;
}
.team-photo {
  display: flex;
}
.team-photo .photo-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}
.team-photo .photo {
  border-radius: 12px;
  overflow: hidden;
  margin: 5px 0;
}
.team-photo .photo#photo1 {
  width: 140px;
}
.team-photo .photo#photo2 {
  width: 160px;
}
.team-photo .photo#photo3 {
  width: 170px;
}
.team-photo .photo img {
  width: 100%;
  display: block;
}
.quote h2 {
  font-weight: 500;
  font-size: 24px;
}
.name-card {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  font-weight: 500;
}
.name-card .photo {
  width: 80px;
  overflow: hidden;
  border-radius: 12px;
  grid-column: 1/2;
  grid-row: 1 / 3;
}
.name-card .photo img {
  width: 100%;
  display: block;
}
.name-card .name {
  grid-column: 2/ 3;
  grid-row: 1 /2;

  font-size: 24px;
}
.name-card .job {
  grid-column: 2/ 3;
  grid-row: 2 /3;
  color: #828282;
  font-size: 18px;
}
footer {
  background-color: #100e1d;
  color: #fff;
  padding: 20px 30px 100px;
}
footer ul {
  display: flex;
  flex-direction: column;
}
footer ul li {
  padding: 5px 0;
  font-size: 18px;
}
footer ul li a {
  color: inherit;
  text-decoration: none;
}
footer .social-container {
  margin: 50px 0 30px;
}
footer .logo {
  font-size: 36px;
}
footer .social-gp {
  font-size: 2rem;
}
footer .social-gp i {
  margin-right: 5px;
}
.credit {
  text-align: center;
  font-size: 14px;
  color: #a9a9a9;
  background-color: #100e1d;
  padding: 30px;
}
/*desktop responsive*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 42px;
  }
  .row {
    margin: 0;
  }
  nav {
    flex-direction: row;
    align-items: center;
    padding: 30px;
  }

  nav .collapse {
    display: flex;
    height: unset;
    width: unset;
  }
  nav .collapse ul {
    display: flex;
    margin: 0;
  }
  nav ul li {
    margin: 0 10px;
    font-size: 24px;
    font-weight: 500;
  }
  nav .btn-toggle {
    display: none;
  }

  .logo {
    font-size: 36px;
  }

  .top-section {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr;
  }
  .top-section .title {
    grid-column: 2/4;
  }
  /*
  .top-section .title h4 {
    grid-column: 2/3;
  }
  */
  .top-section .visual {
    grid-column: 1/5;
  }
  .top-section .content {
    grid-column: 2/4;
  }
  .top-section .contact {
    grid-column: 2/4;
  }

  .service-section {
    display: grid;
    grid-template-columns: 2% 1fr 1fr 1fr 2%;
  }
  .showcase-section {
    display: grid;
    grid-template-columns: 2% 1fr 1fr 1fr 1fr 2%;
  }
  .service-section .title {
    grid-column: 2/4;
  }
  .showcase-section .title {
    grid-column: 2/4;
  }
  .service-section .title h1,
  .showcase-section .title h1,
  .team-section .title h1 {
    font-size: 36px;
  }
  .service-section .service-box-gp {
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
  }

  .service-box-gp .service-box {
    margin: 10px;
    padding: 30px;
    position: relative;
  }
  .finger-icon {
    display: block;
    position: absolute;
    font-size: 3rem;
    bottom: -30px;
    right: 10px;
    color: rgba(70, 70, 70, 0.21);
  }

  .showcase-section .showcase-box-gp {
    grid-column: 2/6;
    display: flex;
    flex-wrap: wrap;
  }
  .showcase-box-gp .showcase-box {
    width: 47%;
    padding-right: 22px;
    margin: 0 0 80px;
  }
  .showcase-box-gp .showcase-box:nth-child(odd) {
    position: relative;
    top: 150px;
  }
  .showcase-section .btn-more {
    grid-column: 5/6;
    position: relative;
    top: 30px;
    text-align: right;
    padding-right: 30px;
  }
  .team-section {
    display: flex;
    margin: 150px 2%;
  }

  .team-section .left-side {
    flex: 2;
  }

  .team-section .team-photo {
    flex: 1;
  }

  .team-photo .photo#photo1 {
    width: 230px;
  }
  .team-photo .photo#photo2 {
    width: 260px;
  }
  .team-photo .photo#photo3 {
    width: 290px;
  }
  .bottom-section {
    margin-left: 10%;
    width: 60%;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 30px 10%;
  }
  footer ul {
    flex: 1;
  }

  footer .social-container {
    margin: 0;
    flex: 1;
  }
  footer .contact {
    margin: 0;
    flex: 1;
  }

  /*desktop responsive*/
  @media only screen and (min-width: 1000px) {
    main {
      margin: 10px;
    }
    nav ul li {
      margin: 0 20px;
    }
    .top-section {
      grid-template-columns: 15% 1fr 1fr 1fr;
    }
    .top-section .content {
      grid-column: 2/3;
    }
    .top-section .contact {
      grid-column: 2/3;
    }
    .service-section {
      display: grid;
      grid-template-columns: 10% 1fr 1fr 1fr 10%;
    }
    .showcase-section {
      display: grid;
      grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    }
    .service-section .title {
      grid-column: 2/3;
    }
    .team-section {
      display: flex;
      margin: 150px 10%;
    }
  }
  /*desktop responsive*/
  @media only screen and (min-width: 1440px) {
    main {
      max-width: 1440px;
      margin: 0 auto;
    }
  }
}
